.header {
  height: 650px;
  background: url(img/background.jpg);
  background-size: cover;
  border-bottom: 1px solid #E9E9E9;
}

.logo {
  width: 350px;
  float: left;
  margin: 30px 0 0 30px ;
  font-size: 14px;
  font-weight: 300;
  letter-spacing: 0.5em;
  text-transform: uppercase;
  color: rgba(0,0,0, 0.7);
}

.nav {
  float: right;
  margin: 30px 30px 0 0;
}

.nav a {
  display: inline-block;
  margin-left: 10px;
  font-weight: 300;
  font-size: 14px;
  text-transform: uppercase;
  color: rgba(0,0,0, 0.7);
  text-decoration: none;
  letter-spacing: 0.3em;
}

h1 { 
  font-size: 72px;
  font-weight: 300;
  color: black;
  text-transform: uppercase;
  letter-spacing: 0.5em;
  text-align: center;
  clear: both;
  padding-top: 100px;
}

.span { 
  display: inline-block;
  padding: 0.5em 0.5em;
  border: black solid 1px;
  /*background-color: white;*/
}

.sub_heading {
  text-align: center;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 0.5em;
}

.about {
  height: 200px;  
  border-bottom: 1px solid #E9E9E9;

}

.about h3{
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.3em;
  font-weight: 300;
  padding-top: 20px;
}

.about p {
  /*max-width: 1200px;*/
  text-align: center;
  display: inline-block;
  letter-spacing: 0.3em;
  font-weight: 100;
  font-size: 14px;
  margin: 15 100 0 100;
}

.sales {
  width: 50%;
  height: 400px;
  display: inline-block;
  float: left;
  background-color: black;
  opacity: 0.9;
}

.sales h3{
  text-align: center;
  text-transform: uppercase;
  padding-top: 170px;
  font-size: 15px;
  letter-spacing: 0.5em;
  font-weight: 200;
  color: white;
}

.letting {
  width: 50%;
  height: 400px;
  display: inline-block;
  float: right;
  background-color: black;
  opacity: 0.9;
}

.letting h3{
  text-align: center;
  text-transform: uppercase;
  padding-top: 170px;
  font-size: 15px;
  letter-spacing: 0.5em;
  font-weight: 200;
  color: white;
}

.management{
  width: 50%;
  height: 400px;
  display: inline-block;
  float: left;
  background-color: black;
  opacity: 0.9;
}

.management h3{
  text-align: center;
  text-transform: uppercase;
  padding-top: 170px;
  font-size: 15px;
  letter-spacing: 0.5em;
  font-weight: 200;
  color: white
}

.advisory {
  width: 50%;
  height: 400px;
  display: inline-block;
  float: right;
  background-color: black;
  opacity: 0.9;
}

.advisory h3{
  text-align: center;
  text-transform: uppercase;
  padding-top: 170px;
  font-size: 15px;
  letter-spacing: 0.5em;
  font-weight: 200;
  color: white
}


/*.footer {
  height: 200px;
  background: url(img/background.jpg);
  background-size: cover;
}
*/
.address {
  width: 350px;
  float: left;
  margin: 30px 0 0 30px ;
  font-size: 14px;
  font-weight: 300;
  letter-spacing: 0.5em;
  text-transform: uppercase;
  color: rgba(0,0,0, 0.7);
}