.header {
  height: 650px;
  background: url(img/background.jpg);
  background-size: cover;
  border-bottom: 1px solid #E9E9E9;
}

.logo {
  width: 350px;
  float: left;
  margin: 30px 0 0 30px ;
  font-size: 14px;
  font-weight: 300;
  letter-spacing: 0.5em;
  text-transform: uppercase;
  color: rgba(0,0,0, 0.7);
}

.nav {
  float: right;
  margin: 30px 30px 0 0;
}

.nav a {
  display: inline-block;
  margin-left: 10px;
  font-weight: 300;
  font-size: 14px;
  text-transform: uppercase;
  color: rgba(0,0,0, 0.7);
  text-decoration: none;
  letter-spacing: 0.3em;
}

h1 { 
  font-size: 72px;
  font-weight: 300;
  color: black;
  text-transform: uppercase;
  letter-spacing: 0.5em;
  text-align: center;
  clear: both;
  padding-top: 100px;
}

.span { 
  display: inline-block;
  padding: 0.5em 0.5em;
  border: black solid 1px;
  /*background-color: white;*/
}

.sub_heading {
  text-align: center;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 0.5em;
}

.container {
  width: 90%;
  margin: 0 auto;
}

.about {
 height: 225px;  
 width: 100%;
 text-align: center;
 font-size: 14px;
 font-weight: 300;
 letter-spacing: 0.5em;
 text-transform: uppercase;
 color: rgba(0,0,0, 0.7);
 text-align: justify;
 line-height: 1.2;
}

.about h3{
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.3em;
  font-size: 19px;
  font-weight: 100;
  padding-top: 20px;
  padding-bottom: 20px;
  /*border-top: #2ecc71 1px solid;
  border-bottom: #2ecc71 1px solid;*/
}

.about p {
  max-width: 100%;
  text-align: justify;
  display: inline-block;
  letter-spacing: 0.5em;
  font-weight: 100;
  font-size: 14px;
  margin: 0 auto;
  text-transform: uppercase;  
  padding-top: 2.5em;
}

.service{
  background-color: black;
  opacity: 0.8;
  height: 300px;
}

.services {
  /*background-color: black;*/
  opacity: 0.9;
  max-width: 90%;
  margin: auto;
  border top: black;
  color: black;
}


.services h3 {
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.3em;
  font-weight: 100;
  padding-top: 20px;
  padding-bottom: 20px;
  /*border-top: #ccc 1px solid;
  border-bottom: #ccc 1px solid;*/
  color: black;
  opacity: 0.9;
}

.servicess {
  width: 49%;
  height: 400px;
  padding: 0.5%;
  display: inline-block;
  float: left;
  text-align: center;
  font-size: 12px;
}

.servicess > div{
  display: table;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.9;
}

.servicess > div > div {
  display: table-cell;
  vertical-align: middle;
}

.servicess h3{
  text-align: center;
  text-transform: uppercase;
  font-size: 15px;
  letter-spacing: 0.5em;
  font-weight: 200;
  color: white;
}

.letting {
  width: 50%;
  height: 400px;
  display: inline-block;
  float: right;
  background-color: black;
  opacity: 0.9;
  text-align: center;
  font-size: 12px;
}

.letting h3{
  text-align: center;
  text-transform: uppercase;
  font-size: 15px;
  letter-spacing: 0.5em;
  font-weight: 200;
  color: white;
}

.management{
  width: 50%;
  height: 400px;
  display: inline-block;
  float: left;
  background-color: black;
  opacity: 0.9;
  text-align: center;
  font-size: 12px;
}

.management h3{
  text-align: center;
  text-transform: uppercase;
  font-size: 15px;
  letter-spacing: 0.5em;
  font-weight: 200;
  color: white
}

.advisory {
  width: 50%;
  height: 400px;
  display: inline-block;
  float: right;
  background-color: black;
  opacity: 0.9;
  text-align: center;
  font-size: 12px;
}

.advisory h3{
  text-align: center;
  text-transform: uppercase;
  font-size: 15px;
  letter-spacing: 0.5em;
  font-weight: 200;
  color: white
}


.address {
  width: 350px;
  float: left;
  margin: 30px 0 0 30px ;
  font-size: 14px;
  font-weight: 300;
  letter-spacing: 0.5em;
  text-transform: uppercase;
  color: rgba(0,0,0, 0.7);
}

.fa-usd{
  color: #2ecc71;
  margin: 0 auto; 

}

.fa-building-o {
  color: #2ecc71;
}

.fa-line-chart{
  color: #2ecc71;
}

.fa-home {
  color: #2ecc71;
}